<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>16/10/28 12:08:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="INAPP_NOTIFICATION.INAPP_Notification_VALIDITY_Alert_SuccesssUsecase()[pri:0, instance:com.freecharge.merchantonboarding.identity.test.INAPP_NOTIFICATION@46d56d67]">INAPP_Notification_VALIDITY_Alert_SuccesssUsecase</td> 
  <td>main@1555690610</td>   <td></td> </tr>
</table>
