<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.freecharge.project.arc.Get_Recommended_Products_For_a_Merchant</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Get_Recommended_Products_For_a_Merchant_empty_path_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Get_Recommended_Products_For_a_Merchant_invalid_usertrackingid_SuccessfulUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Get_Recommended_Products_For_a_Merchant_SuccesssUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Get_Recommended_Products_For_a_Merchant_Invalid_path_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Get_Recommended_Products_For_a_Merchant_Null_path_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Get_Recommended_Products_For_a_Merchant_only_with_path_SuccessfulUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.freecharge.project.arc.Get_Tabbed_Product</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Get_Tabbed_Product_all_null_SuccesssUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Get_Tabbed_Product_SuccesssUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Get_Tabbed_Product_Invalid_Usertrackingid_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Get_Tabbed_Product_Invalid_Deviceid_FailureUsecase</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
