<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>16/09/29 14:44:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Tabbed_Product.Get_Tabbed_Product_Invalid_Deviceid_FailureUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Tabbed_Product@4c70fda8]">Get_Tabbed_Product_Invalid_Deviceid_FailureUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>16/09/29 14:44:53</td>   <td>3882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Tabbed_Product.Get_Tabbed_Product_Invalid_Usertrackingid_FailureUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Tabbed_Product@4c70fda8]">Get_Tabbed_Product_Invalid_Usertrackingid_FailureUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>16/09/29 14:44:56</td>   <td>6901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Tabbed_Product.Get_Tabbed_Product_SuccesssUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Tabbed_Product@4c70fda8]">Get_Tabbed_Product_SuccesssUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>16/09/29 14:44:59</td>   <td>10166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Tabbed_Product.Get_Tabbed_Product_all_null_SuccesssUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Tabbed_Product@4c70fda8]">Get_Tabbed_Product_all_null_SuccesssUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>16/09/29 14:45:02</td>   <td>12598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Recommended_Products_For_a_Merchant.Get_Recommended_Products_For_a_Merchant_Invalid_path_FailureUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Recommended_Products_For_a_Merchant@6f7fd0e6]">Get_Recommended_Products_For_a_Merchant_Invalid_path_FailureUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>16/09/29 14:45:04</td>   <td>14319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Recommended_Products_For_a_Merchant.Get_Recommended_Products_For_a_Merchant_Null_path_FailureUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Recommended_Products_For_a_Merchant@6f7fd0e6]">Get_Recommended_Products_For_a_Merchant_Null_path_FailureUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>16/09/29 14:45:06</td>   <td>16686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Recommended_Products_For_a_Merchant.Get_Recommended_Products_For_a_Merchant_SuccesssUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Recommended_Products_For_a_Merchant@6f7fd0e6]">Get_Recommended_Products_For_a_Merchant_SuccesssUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>16/09/29 14:45:08</td>   <td>18666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Recommended_Products_For_a_Merchant.Get_Recommended_Products_For_a_Merchant_empty_path_FailureUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Recommended_Products_For_a_Merchant@6f7fd0e6]">Get_Recommended_Products_For_a_Merchant_empty_path_FailureUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>16/09/29 14:45:10</td>   <td>20422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Recommended_Products_For_a_Merchant.Get_Recommended_Products_For_a_Merchant_invalid_usertrackingid_SuccessfulUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Recommended_Products_For_a_Merchant@6f7fd0e6]">Get_Recommended_Products_For_a_Merchant_invalid_usertrackingid_SuccessfulUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>16/09/29 14:45:11</td>   <td>21970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Recommended_Products_For_a_Merchant.Get_Recommended_Products_For_a_Merchant_only_with_path_SuccessfulUsecase()[pri:0, instance:com.freecharge.project.arc.Get_Recommended_Products_For_a_Merchant@6f7fd0e6]">Get_Recommended_Products_For_a_Merchant_only_with_path_SuccessfulUsecase</td> 
  <td>main@1845904670</td>   <td></td> </tr>
</table>
